.layout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    /*// test*/
    width: 100vw;
}

.content {
    border-left: 1px solid red;
    border-right: 1px solid red;
    flex: 1;
}