.toastContainer {
   min-width: 250px;
   max-width: 500px;
   padding: 1rem;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1050;
   height: fit-content;
   border-radius: 8px;
   position: fixed;
   transition: top 0.3s ease-in-out;

   &.show {
      top: 100px;
   }
   &.hide {
      top: -100px;
   }
}

.toast {
   background-color: #007bff;
   color: white;
   padding: 10px 20px;
   border-radius: 4px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}